body {
	padding: 0;
	margin: 0;
}

#gameField {
	margin: auto;
	width: 720px;
	height: 720px;
	border: 1px solid #000;
}

.cell {
	display: block;
	float: left;
	border: 1px solid #F00;
	text-align: center;
	vertical-align: middle;
	
	cursor: pointer;
}

.cell.size4 {
	width: 178px;
	height: 178px;
	line-height: 178px;
	font-size: 8em;
}

.cell.size5 {
	width: 142px;
	height: 142px;
	font-size: 6em;
}

.cell.size6 {
	width: 118px;
	height: 118px;
}

.cell > label {
	display: inline-block;
	border: 3px solid #FFF;
	padding: 0;
	margin: auto;
	width: 1.0em;
	height: 1.0em;
	line-height: 1.0em;
	text-align: center;
	vertical-align: middle;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cell[data-selected] > label{
	border: 3px solid #0F0;
}

#scoreDisplay {
	position: absolute;
	font-size: 8em;
	top: 0;
	left: 0;
}

#timeDisplay {
	position: absolute;
	font-size: 8em;
	top: 0;
	right: 0;
}

#wordList {
	position: absolute;
	overflow: auto;
	white-space: pre;
	font-size: 2em;
	top: 8em;
	right: 0;
	height: 400px;
	width: 100px;
}
